/* Barva písma */
.dark-mode .color {
  color: var(--gray-light01);
}

/* Navigace */

.dark-mode .icon {
  background-image: url(../img/icon-dark.png);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  border-radius: 20% 20% 50% 50%;
}

.dark-mode .icon:hover {
  background-image: url(../img/icon-light.png);
  background-color: var(--yellow-light01);
}

.dark-mode .layer01 {
  background-image: url(../img/header-dark-bcg.png);
  min-height: 100dvh;
  width: auto;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.dark-mode .layer02 {
  background-image: url(../img/header-dark-menu-bcg.png);
  width: 100%;
  height: 90%;
  background-size: contain;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.dark-mode .nav {
  background-color: var(--dark-brown-lighter);
}

.dark-mode .nav-link {
  position: relative;
  text-decoration: none;
  font-weight: 800;
  text-align: center;
  color: var(--yellow-light01);
  padding: 3px 0;
  transition: 0.5s;
}

.dark-mode .nav-link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--yellow-light01);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.dark-mode .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Hamburger */
.dark-mode .hamburger,
.dark-mode .hamburger::before,
.dark-mode .hamburger::after {
  background: var(--yellow-light01);
}

/* Sekce s fotkami */
.dark-mode .section01 {
  background: var(--dark-brown);
}

/* Formulář */
.dark-mode .section02 {
  background: var(--dark-brown-lighter);
}

.dark-mode .form {
  background: var(--dark-brown-lighter);
  color: var(--gray-light01);
}

.dark-mode .button {
  background: var(--dark-brown);
  color: var(--gray-light01);
}

/* Footer */
.dark-mode .footer {
  background: var(--dark-brown-lighter);
}

@media screen and (width <= 768px) {
  /* Menu */
  .dark-mode .menu-query {
    background: var(--dark-brown-lighter);
  }
}
