@media screen and (width <= 768px) {
  /* Hero section */
  .layer03 {
    width: 150%;
    margin-left: -50%;
    overflow: hidden;
  }

  /* Hamburger a navigace*/
  .hamburger {
    display: block;
    position: relative;
    width: 38px;
    height: 4px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
  }

  .hamburger-light,
  .hamburger-light::before,
  .hamburger-light::after {
    background: var(--dark-brown);
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    border-radius: 10px;
    transition: 0.3s;
  }

  .hamburger::before {
    top: -10px;
    width: 38px;
  }

  .hamburger::after {
    top: 10px;
    width: 38px;
  }

  .toggle-menu {
    display: block;
    position: absolute;
    width: 38px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
  }

  .nav input:checked ~ .hamburger {
    background: transparent;
  }

  .nav input:checked ~ .hamburger::before {
    top: 0;
    transform: rotate(-45deg);
  }

  .nav input:checked ~ .hamburger::after {
    top: 0;
    transform: rotate(45deg);
  }

  .nav input:checked ~ .menu {
    display: flex;
    transition: 0.3s;
  }

  .nav {
    flex-direction: row-reverse;
    position: relative;
    justify-content: space-between;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 65px;
    width: 200px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .menu-query-light {
    background: var(--yellow-light01);
  }

  .menu > li > a {
    display: inline-block;
    margin: 10px 20px;
  }

  /* První sekce */

  .articles {
    position: static;
    width: 80%;
    margin: 20px auto;
  }

  .article {
    position: static;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .article-image {
    position: static;
    transform: scale(1);
    transition: transform 0.5s ease;
    transform-origin: left top;
    overflow: hidden;
  }

  .article-image:hover ~ .article-title,
  .article-image:hover ~ .article-description {
    opacity: 1;
  }

  .article-title,
  .article-description {
    position: static;
    transition: opacity 0.3s linear;
    overflow: visible;
  }

  .article-description p {
    padding-bottom: 10px;
  }
  .article-title {
    width: 100%;
    height: 50px;
  }

  /* Formulář */
  .section02 {
    width: 100%;
  }

  .form-content-wrapper {
    width: 80%;
  }

  /* Ikona nahoru */
  .icon-up {
    right: 20px;
    bottom: 50px;
  }

  .con-articles-wrapper {
    display: block;
  }

  .con-article-image {
    transform: scale(0.5);
  }

  .con-article-title,
  .con-article-description {
    opacity: 1;
  }
}
